<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" id="topnav" position="static">
	<div class="container">
		<div><a href="#" class="btn" onclick="openNav()"><i class="icon ion-android-menu"></i></a></div>
		<div id="mySideNav" class="sidenav">
			<a href="#" class="closebtn" onclick="closeNav()"><i class="icon ion-android-close"></i></a>
			<div><form action="/search" method="get">
				<input type="text" placeholder="Search..." name="sQuery"> 
				<a class="searchbtn" onclick="this.parentNode.submit()"> <i class="fa fa-search"></i></a>
			</form></div>
			<a href="/">Home</a>
			<a href="/account">My Account</a>
			<a href="/category/womens">Women</a>
			<a href="/category/mens">Men</a>
			<a href="/category/kids">Kids</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navcol-1">
			<a class="navbar-brand text-center mx-auto" href="/" style="height: 53px;font-size: 30px;font-family: Abel, sans-serif;width: 0px;">THE SHOP</a>
			<span class="navbar-text actions">
				<a class="login" href="/login" style="font-family: Abel, sans-serif;font-size: 20px;color: rgb(34,34,34);height: 50px;width: 50px;">Log In</a>
				<a class="btn btn-light border rounded action-button" role="button" href="/registration" style="background-color: #a3b76a;font-family: Abel, sans-serif;font-size: 20px;">Sign Up</a>
			</span>
		</div>
	</div>
</nav>
