<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
	<div class="container">
		<div><a href="#" class="btn" onclick="openNav()"><i class="icon ion-android-menu"></i></a></div>
		<div id="mySideNav" class="sidenav">
			<a href="#" class="closebtn" onclick="closeNav()"><i class="icon ion-android-close"></i></a>
			<div><form action="/search" method="get">
				<input type="text" placeholder="Search..." name="sQuery"> 
				<a class="searchbtn" onclick="this.parentNode.submit()"> <i class="fa fa-search"></i></a>
			</form></div>
			<a href="/">Home</a>
			<a href="/account">My Account</a>
			<a href="/category/womens">Women</a>
			<a href="/category/mens">Men</a>
			<a href="/category/kids">Kids</a>
		</div>
		<div class="dropdown">
			<a href="#" class="dropbtn"><i class="icon ion-android-person"></i></a>
			<div class="dropdown-content">
				<a href="/account"> My Account </a>
				<form action="/logout" method="post">
					<a onclick="this.parentNode.submit();">Log Out</a>
				</form>
			</div>
		</div>
		<ul class="nav navbar-nav mr-auto"></ul>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
			<span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1" style="height: 63px;">
			<a class="navbar-brand text-center mx-auto" href="/" style="height: 50px;font-size: 30px;font-family: Abel, sans-serif;width: 20px;">THE SHOP</a>
			<div><a href="#" class="icons" onclick="openNav()"><i class="icon ion-android-search strong"></i></a></div>
			<div><a href="/" class="icons"><i class="icon ion-android-home"></i></a></div>
			<div><a href="/wishlist" class="icons"><i class="icon ion-heart"></i></a></div>
			<div><a href="/cart" class="icons"><i class="icon ion-bag"></i></a></div>
		</div>
	</div>
</nav>

<div>
	<ul class="account-nav-ul">
		<li> <a class="account-nav-li" href="/account"> My Profile </a> </li>
		<li> <a class="account-nav-li" href="/orders"> My Orders </a> </li>
		<li> <a class="account-nav-li" href="/changepass"> Change Password </a> </li>
		<li> <a class="account-nav-li" href="/confirm"> Confirm Email </a> </li>
	</ul>
</div>
