<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" id="topnav" position="static">
	<div class="container">
		<div><a href="#" class="btn" onclick="openNav()"><i class="icon ion-android-menu"></i></a></div>
		<div id="mySideNav" class="sidenav">
			<a href="#" class="closebtn" onclick="closeNav()"><i class="icon ion-android-close"></i></a>
			<div>
				<input type="text" placeholder="Search..."> 
				<a href="#" class="searchbtn" onclick="search()"><i class="fa fa-search"></i></a>
			</div>
			<a href="/">Home</a>
			<a href="/account">My Account</a>
			<a href="womens.html">Women</a>
			<a href="mens.html">Men</a>
			<a href="kids.html">Kids</a>
		</div>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<a class="navbar-brand text-center mx-auto" href="/" style="height: 53px;font-size: 30px;font-family: Abel, sans-serif;width: 0px;">THE SHOP</a>
			<span class="navbar-text actions">
				<a class="login" href="/login" style="font-family: Abel, sans-serif;font-size: 20px;color: rgb(34,34,34);height: 50px;width: 50px;">Log In</a>
				<a class="btn btn-light border rounded action-button" role="button" href="/registration" style="background-color: #a3b76a;font-family: Abel, sans-serif;font-size: 20px;">Sign Up</a>
			</span>
		</div>
	</div>
</nav>
