<!DOCTYPE html>
{{#each item}}
	<div class="trx-itemcard" id="trx-itemcard">
		<div id="trx-images">
			<img class="trx-images" src="assets/img/order1.jpg">
		</div>
		<div class="trx-itemdesc">
			<div id="trx-price" style="padding-bottom: 5px">
				<b> Php 250.00 </b>
			</div>
			<div id="trx-itemname" style="padding-bottom: 5px">
				Light Blue Trisha
			</div>
			<div id="trx-itemcode" style="padding-bottom: 5px">
				<b> WS0627 </b>
			</div>
			<br> <br>
			<div id="trx-itemqty">
				Qty: 1
			</div>
		</div>
	</div>
{{/each}}