<!-- NOT SURE WHAT TO USE THIS SECTION FOR HMMMMM
	<div>
		<ul class="account-nav-ul">
			<li>
				<a class="account-nav-li" href="/account"> My Profile </a>
			</li>
			<li>
				<a class="account-nav-li" href="/orders"> My Orders </a>
			</li>
			<li>
				<a class="account-nav-li" href="/stats"> My Stats </a>
			</li>
			<li>
				<a class="active" href="/changepass"> Change Password </a>
			</li>
		</ul>
	</div>
-->

<div class="login-clean" style="margin-left: 25%;background-color: #f0f0f0;">
	<form method="post" action="/changepass" style="background-color: #555;background-image: none;">
		<h2 class="sr-only">Login Form</h2>
		<div class="illustration">
			<i class="icon ion-ios-locked" style="color: #a3b76a;"></i>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" id="oldpass" name="oldpass" placeholder="Old Password">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" id="newpass" name="newpass" placeholder="New Password">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" id="confnewpass" name="confnewpass" placeholder="New Password (repeat)">
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit" style="background-color: #a3b76a;color: black;">Change Password</button>
		</div>
	</form>
</div>
