<div class="login-clean" style="margin-left: 25%;background-color: #f0f0f0;">
	<form method="post" action="/confemail" style="background-color: #555;background-image: none;">
		<h2 class="sr-only">Confirm Email</h2>
		<div class="illustration">
			<i class="icon ion-ios-locked" style="color: #a3b76a;"></i>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" id="conf" name="conf" placeholder="Confirmation code">
			<p class="text-danger p-1" id="confErr"></p>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-block" type="button" id="confemailsubmit" style="background-color: #a3b76a;color: black;">Change Password</button>
		</div>
	</form>
</div>
