{{> navbar-home }}
<div class="row">
	<div class="container bg-light col text-center">
		<h1 style="font: 30px">
			404
		</h1>
		<h1>
			Page not found
		</h1>
		<br> <br>
		<a href="/"> Back to Home </a>
	</div>
</div>
