{{> navbar-closed}}

<div class="row">
	<div class="container bg-light col text-center">
		<h1 style="font: 30px">
			{{status}}
		</h1>
		<h1>
			{{errormsg}}
		</h1>
		<br> <br>
		<a href="/"> Back to Home </a>
	</div>
</div>
