<!DOCTYPE html>
<div id="myorders">
    <div class="order">
        {{#each orders}}
			<div class="order-header"> 
				<div class="order-date" id="order-date">
					{{stringifyDate dateOrg}}
				</div>
				<div class="order-status" id="order-status">
					{{status}}
				</div>
			</div>
			
			<div class="trx-container">
				<div class="trx-summary">
					<div class="order-content" id="order-number">
						Order#: hmmm
					</div>
					<div class="order-content" id="order-numitems">
						Total items: yikes
					</div>
					<br>
					<div class="order-content" id="order-address">
						<b> Shipping Address </b> <br>
						{{buyer.addr}}
					</div>
					<br>
					<div class="order-content" id="order-totalprice">
						<b> TOTAL </b>
						<br> Php ded
					</div>
				</div>
				
				<div class="trx-items" id="trx-items">
					{{#each this.products}} {{> orditem this}} {{/each}}
				</div>
			</div>
        {{/each}}
    </div>
</div>