{{> navbar-closed}}

<div class="product" style="height: 98px;margin-top: -10px;">
	<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="margin-left: 30.08%;margin-right: 30.08%;">
		<div class="container">
			<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navcol-1" style="width: 243px;">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(143,143,143);">WOMEN</a>
						<div class="dropdown-menu" role="menu" data-aos="fade">
							<a class="dropdown-item" role="presentation" href="/category/womens">All</a>
							<a class="dropdown-item" role="presentation" href="/category/wclothes">Clothes</a>
							<a class="dropdown-item" role="presentation" href="/category/waccessories">Accessories</a>
							<a class="dropdown-item" role="presentation" href="/category/wshoes">Shoes</a>
						</div>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" href="/category/mens" style="color: rgb(143,143,143);">MEN'S</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" href="/category/kids" style="color: rgb(143,143,143);">KIDS</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" href="/products" style="color: rgb(88,87,87);">ALL PRODUCTS</a>
					</li>
				</ul>
				<span class="navbar-text actions"></span>
			</div>
		</div>
	</nav>
</div>

<!-- FILTERS AND SORTERS -->
<div style="width: fit-content;margin: auto;margin-top: -46px;">
	<div class="dropdown" style="width: 30px;height: 20px;font-size: 10px;margin-left: 842px;margin-top: -20px;">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="padding: 4px;font-size: 11px;width: 52px;height: 25px;background-color: rgb(255,255,255);color: rgb(62,56,56);margin-left: 171px;margin-top: 47px;">Sort By&nbsp;</button>
		<div class="dropdown-menu" role="menu" data-aos="fade" style="width: 105px;max-width: 150px;min-width: 50px;margin-left: -51px;">
			<a class="dropdown-item text-right" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 100px;">New Arrivals</a>
			<a class="dropdown-item text-right" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 100px;">Quantity Left</a>
			<a class="dropdown-item text-right" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 100px;">Product Code</a>
			<a class="dropdown-item text-right" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 100px;">Price: Low to High</a>
			<a class="dropdown-item text-right" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 100px;">Price: High to Low</a>
		</div>
	</div>
	<div class="dropdown" style="width: 30px;height: 20px;font-size: 10px;margin-left: 900px;margin-top: -20px;">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="padding: 4px;font-size: 11px;width: 67px;height: 25px;background-color: rgb(255,255,255);color: rgb(62,56,56);margin-left: 176px;">Filter Price&nbsp;</button>
		<div class="dropdown-menu" role="menu" data-aos="fade" style="width: 80px;max-width: 150px;min-width: 50px;">
			<a class="dropdown-item" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 80px;">0 - 300</a>
			<a class="dropdown-item" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 80px;">301 - 500</a>
			<a class="dropdown-item" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 80px;">501 - 700</a>
			<a class="dropdown-item" role="presentation" href="#" style="font-size: 10px;padding: 3px;margin-top: -6px;width: 80px;">701 - 1000</a>
		</div>
	</div>
</div>

<!-- CONTAINER OF ALL PRODUCTS -->
<div class="container" style="margin-top: 28px;">
	<div class="row">
		{{#each prods}}
			{{> prodcard this}}
		{{/each}}
	</div>
</div>
<div style="margin-top: 51px;"></div>
<div style="margin-top: 77px;margin-bottom: 47px;">
	<a id="scroll-to-top" title="Scroll to top" href="#">
		<i class="fas fa-angle-up"></i>
	</a>
</div>
