.cart {
  height: 100%;
  font-family: Abel, sans-serif;
  font-size: 20px;
  display: flex;
}

.cart-container {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.cart-itemcard {
  display: flex;
  flex-direction: row;
  width: 665px;
}

.cart-itemdesc {
  margin-left: 30px;
  font-family: Abel, sans-serif;
  font-size: 20px;
  color: black;
  text-align: left;
  max-width: 200px;
}

.cart-images {
  width: 184px;
  height: 228px;
  margin-left: 50px;
}

.cart-btn {
  background-color: transparent;
  font-size: 15px;
  color: #a3b76a;
}

.cart-qty {
  display: flex;
  justify-content: space-around;
}

