.btn {
  font-family: Abel, sans-serif;
}

#shopnowbtn {
  font-family: Abel, sans-serif;
  font-size: 60px;
  color: black;
  left: 490px;
  position: relative;
  top: 20px;
}

#categbtn-1 {
  font-family: Abel, sans-serif;
  font-size: 30px;
  color: black;
  position: relative;
  left: 190px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a3b76a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0s;
  font-family: Abel, sans-serif;
}

h1 {
  color: black;
  font-family: Abel, sans-serif;
  text-align: center;
}

.forindex {
  position: relative;
  top: 200px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #edd3c0;
}

.sidenav .closebtn {
  position: absolute;
  top: 23px;
  right: 15px;
  font-size: 20px;
  margin-left: 50px;
}

.sidenav .searchbtn {
  position: absolute;
  top: 90px;
  right: 15px;
  font-size: 15px;
  margin-left: 50px;
}

.sidenav input[type=text] {
  padding: 8px 8px 8px 32px;
  border: none;
  margin-top: 30px;
  margin-left: 30px;
  width: 220px;
}

.icons {
  color: black;
  cursor: pointer;
}

div .icons {
  margin: 10px;
}

a:hover {
  color: #f0f0f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Abel, sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: black;
  cursor: pointer;
}

#headersearch {
  color: black;
}

.account-nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: transparent;
  position: absolute;
}

li a.active {
  background-color: #555;
  color: white;
  display: block;
  padding: 8px 16px;
  font-family: Abel, sans-serif;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.account-nav-li {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-family: Abel, sans-serif;
  font-size: 20px;
}

.account-info {
  font-family: Abel, sans-serif;
  font-size: 25px;
  padding: 8px 16px;
  color: black;
  font-weight: 400;
  background-color: #f0f0f0;
}

.account-label {
  font-family: Abel, sans-serif;
  font-size: 15px;
  color: black;
  background-color: #a3b76a;
}

.order {
  background-color: white;
  height: 100%;
  font-family: Abel, sans-serif;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 25%;
}

.order-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 47px;
  color: black;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.order-header-complete {
  background-color: #7da06a;
}

.order-header-processing {
  background-color: #f9dc5c;
}

.order-header-cancelled {
  background-color: #d36060;
}

.order-date {
  margin: 10px;
}

.order-status {
  margin: 10px;
}

.trx-container {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.trx-summary {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 20%;
}

.order-content {
  font-size: 15px;
}

.trx-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  margin-left: 35px;
}

.trx-itemcard {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 350px;
  margin-top: 10px;
}

.trx-images {
  width: 184px;
  height: 228px;
}

.trx-itemdesc {
  font-size: 15px;
  margin-left: 10px;
}

#stats-nav {
  background-color: #a3b76a;
  margin-left: 25%;
  height: 46px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  font-family: Abel sans-serif;
  font-size: 20px;
}

.stats-container {
  font-family: Abel, sans-serif;
  font-size: 20px;
  color: black;
  margin-right: 2%;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 15px;
}

.stats-date {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  background-color: #f0f0f0;
  font-size: 20px;
  font-family: Abel, sans-serif;
  justify-content: center;
}

.stats-column {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
}

#stats {
  margin-left: 25%;
  margin-right: 2%;
}

.stats-go-btn {
  font-family: Abel;
  font-size: 20px;
  height: 46px;
  background-color: transparent;
  margin-left: 340px;
}

.cartcheck {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.cart {
  height: 100%;
  font-family: Abel, sans-serif;
  font-size: 20px;
  display: flex;
}

.cart-container {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.cart-itemcard {
  display: flex;
  flex-direction: row;
  width: 665px;
}

.cart-itemdesc {
  margin-left: 30px;
  font-family: Abel, sans-serif;
  font-size: 20px;
  color: black;
  text-align: left;
  max-width: 200px;
}

.cart-images {
  width: 184px;
  height: 228px;
  margin-left: 50px;
}

.cart-btn {
  background-color: transparent;
  font-size: 15px;
  color: #a3b76a;
}

.cart-qty {
  display: flex;
  justify-content: space-around;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

input {
  padding: 0.15rem !important;
  border: 0;
  border-bottom: 1px solid #E0E0E0;
}

input:focus {
  border: 0 !important;
  border-bottom: 1px solid #48CCFF !important;
  outline: none !important;
  color: #48CCFF;
}

label, input, textarea {
  transition: all 0.2s !important;
}

label {
  font-size: 14px;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input {
  padding: 0.15rem !important;
  border: 0;
  border-bottom: 1px solid #E0E0E0;
}

input:focus {
  border: 0 !important;
  border-bottom: 1px solid #48CCFF !important;
  outline: none !important;
  color: #48CCFF;
}

label, input, textarea {
  transition: all 0.2s !important;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.check {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #BDBDBD;
}

.check:hover input ~ .checkmark {
  border: 1px solid #48ccff;
}

.check input:checked ~ .checkmark {
  background-color: #48CCFF;
  border: 1px solid #48ccff;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.register-photo {
  background: #c59674;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../img/regimage.jpg);
  background-size: cover;
  margin-left: 30%;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

